// we creates a mixin (function) for store css data and used them into multiple
// section with same property.

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#marq{
    color: white;
    padding: 3px;
}
@mixin navbar(){
    background-color: rgb(29, 157, 93);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    // padding: 1px;
}

// for manage all ul links..

@mixin ulmanage(){
    display: flex;
    list-style: none;
    // justify-content:space-evenly;
     gap:20px;   
}

.navbar{
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid black;
    
    // padding: 50px;

    .logo{
        align-items: center;

       h1{
        text-shadow: 1px 3px 3px black;
        margin: 0px;
        padding: 0px;
        // padding: 3px;
        font-family: cursive;
        text-align: center;
       

       }
       
    }
    ul{
        margin: 0px;
        padding: 0px;

    }

    // to use the created mixin we use @include method.
    @include navbar();
    .uldiv ul{
       
        @include ulmanage();
        li a{
           
            color: black;
            text-decoration-line: none; 

        }
        a:hover{
            color: white;
            text-decoration: underline;
        }
        
    }
   
}
.social_icons{
    ul{
        margin: 0;
        padding: 0;
        display: flex;
        gap: 30px;

        li{
            list-style: none;

            a{
                font-size: 20px;
            }
            a:hover{
                border: 1px solid;
                padding: 3px;
            }
        }
        


    }
   
}
@media screen and  (max-width:750px) {
    .navbar{
        flex-direction: column;
        gap: 5px;
    }

}
@media screen and  (max-width:550px) {
    .navbar{
       h1{
        font-size: 20px;
       }
        gap: 2px;
        .uldiv a{
        font-size: 12px;
        }
    }
     .uldiv ul{
        gap: 2px;
     }

}
// ==============================================================================
.click_icons{
    background-color: white;
    display: flex;
    padding:5px;
    align-items: center;
     
    .event_search_bar{
        display: block;
        padding-left: 5px;
   
    }
    .event_search_bar input{
        width: 330px;
        border-radius: 10px;
        border-style: none;
        border: 1px solid cadetblue;
        padding: 3px;      
    }
    .event_search_bar input:hover{
        background-color: rgb(230, 228, 215);
        color: black;
        border: 2px solid gray;
    }
    .location{
        margin: 0px auto;
    }
    .signup_btn_icon{
        display: block;
        padding-right: 20px;
        
    }
  
}

// will visible when click on location icon..............

.fetch_location{
        display: none;
        text-align: center;
        width:100%;        
        position: absolute;
        top: 20px;
        // left: 60%;
        padding: 5px;

        #city_name{
            width:50%;
        }
}



.signupbar{
   display: none;
    position: absolute;
    top: 20%;
    // left: 40%;
    background-color:white;
    width:100%;
    text-align: center;
    align-items: center;
    padding: 40px;


    a{
        display: block;
       border: 2px solid;
       padding: 5px;
       text-decoration: none;
       color: black;

    }

    .google_btn{
        display: block;
        padding-bottom:20px;
        padding-top: 20px;
        
    }
    .email_btn{
        display: block;
        padding-bottom:20px;
        
    }
    .apple_btn{
        display: block;
        padding-bottom:20px;
        
    }
    .number_bar{
        padding-top: 20px;
        border-bottom: 1px solid saddlebrown;
    }
    .number_bar input{
       
        width: 300px;
        padding: 3px;
        border-style: none;
        

    }
   
}   

@media screen and (max-width:550px){
    .click_icons{
        .event_search_bar input{
            width: 100%;
        }
    }
}