// manage all contents of movies,events at home page using css

 .Event_title{
 
  font-size: 11px;
  font-family: serif;
  letter-spacing: 3px;
  font-weight: bold;
  text-align: center;
  color: black;
  align-items: center;
  background-color:white;
  padding: 3px;
}
.Movies{
  display: flex;
  justify-content: space-between;
  // box-sizing: border-box;
  // flex-wrap: wrap; 
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  // gap: 5px;
  background-color:black;
  // padding: 5px;

   
}

.mov{
  flex-basis: 25%;
  min-width: 250px;
  margin: 10px 5px;
  padding:10px;
  border-radius: 15px;
  background-color: rgb(26, 21, 21);
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: white;
  white-space: pre-line;
  cursor: pointer;

   
}
.mov img{
    width: 100%;
    aspect-ratio: 1/1;                                        
    border-radius: 20px;
    border: 2px solid white;
    // object-fit: cover;
}
 h4{
  color:red;
  background-color: white;
  border-radius: 10px;
  padding: 3px 0;
 
}
h3{
  font-size: 15px;
  font-family: cursive;
}

.btn{

  align-self: center;
  margin-top: auto;
  background-color: red;
  border-style: none;
  color: white;
  padding: 3px;
  border-radius: 10px;
 
}

.btn:hover{
  background-color: transparent;
  border: 2px solid blueviolet;

}
.mov:hover{
  border: 2px solid lightcoral;
}

// making responsive..............

@media screen and (max-width:750px){
.mov{
  flex-basis: 20%;
  min-width: 220px;
  margin: 7px 3px;
  padding: 8px;
}
}

@media screen and (max-width:550px){
  
 .Event_title{
  padding: 2px;
font-size: 8px;
}
  .mov{
    flex-basis:15%;
    min-width: 180px;
    
    margin: 4px 4px;
    padding: 8px;

    img{
      border-style: none;
     
      border-radius: 5px;
    }
  }

  }