// .Event_title{
//   font-size: 11px;
//   font-family: serif;
//   letter-spacing: 3px;
//   font-weight: bold;
//   text-align: center;
//   color: white;
// }
// .Movies{
//   display: flex;
//   background-color: white;
//   gap: 20px;
//   overflow-x: scroll;
//   padding: 10px;
//   white-space: nowrap;
//   scrollbar-width: thin;
//   scroll-behavior: smooth;
//   margin-top: 20px;

//   // height: 300px;
  

  
//   .mov{
  
//     background-color: rgb(38, 35, 35);
//     display: flex;
//     flex-direction: column;
   
//     // padding:5px;
//     border-radius: 20px;
//     flex-basis: 32%;
//     max-width: 370px;
   
   
  
   


    
//     img{
//       width: 100%;
      
//       // height: 250px;
//       border-radius: 15px;
//       // object-fit: cover;

//   }
    

//     .release_date{
//       h4{
//         color: white;
//         font-size: 10px;
//         background-color:white;
//         color: red;
//         // width: 280px;
//         padding: 3px;
//         border-radius: 10px;
//         white-space: pre-line;


//       }
//     }
//     .title{
     
//       h3{
//         text-align: center;
//         color: white;
//         font-size: 20px;
//         font-family: cursive;
//         font-style: oblique;
//         font-weight: bolder;
//         // line-break: auto;
//         white-space: pre-line;
//       }
//     }
//     .content{
//       color: white;
//       font-size: 10px;
//       font-style: italic;
//         font-weight: bolder;
//     } 
//     #book_button{
//       background-color: blueviolet;
//       padding: 4px;
//       border-style: none;
//       width: 200px;
//       border-radius: 15px;
//     }   
//     #book_button:hover{
//       background-color: blue;
      
//       border: 3px solid black;
//       width: 200px;
//       border-radius: 10px;
//       color: white;

//     }

//   }}

//   @media (max-width:500px){

//     .Movies{
//        gap: 10px;
//        padding: 5px;
//        margin-top: 10px;
//        background-color: black;

//        .mov{
//         background-color:white;
//         color: black;

//         img{
//           width: 220px;
//           height: 220px;
//         }

//         .release_date{
//           h4{
//             color: white;
//             font-size: 10px;
//             background-color:black;
//             // color: red;
//             // width: 280px;
//             padding: 3px;
//             border-radius: 10px;
//             white-space: pre-line;
    
    
//           }
//         }

//         .title{
     
//           h3{
//             text-align: center;
//             color: black;
//             font-size: 15px;
//             font-family: cursive;
//             font-style: oblique;
//             font-weight: bolder;
//             // line-break: auto;
//             white-space: pre-line;
//           }
//         }
//         .content{
//           color: black;
//           font-size: 8px;
//           font-style: italic;
//             font-weight: bolder;
//         } 
//         #book_button{
//           background-color: red;
//           color: white;
//           padding: 4px;
//           border-style: none;
//           width: 200px;
//           border-radius: 15px;
//         }



//       }

//   }
 

//   }
//  .Movies{
//   .mov:hover{
//     box-shadow: 2px 2px 4px goldenrod;
//     transition:all 1s ease-in-out;
//     transform: rotate(3deg);
   
//   }
//  }


 .Event_title{
 
  font-size: 11px;
  font-family: serif;
  letter-spacing: 3px;
  font-weight: bold;
  text-align: center;
  color: black;
  // display: flex;
  align-items: center;
  background-color:white;
  padding: 3px;
}
.Movies{
  display: flex;
  justify-content: space-between;
  // box-sizing: border-box;
  // flex-wrap: wrap; 
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  // gap: 5px;
  background-color:black;
  // padding: 5px;

   
}

.mov{
  flex-basis: 25%;
  min-width: 250px;
  margin: 10px 5px;
  padding: 12px;
  border-radius: 15px;
  background-color: rgb(26, 21, 21);
  display: flex;
  flex-direction: column;
  // gap: 12px;
  border: 2px solid white;
  box-sizing: border-box;

   
}
.mov img{
    width: 100%;
    aspect-ratio: 1/1;                                        
    border-radius: 20px;
    border: 2px solid white;
    // object-fit: cover;
}
.release_date{
  margin: 0;
  padding: 0;
  // border: 2px solid white;

}
.release_date h4{
  color:red;
  background-color: white;
  border-radius: 10px;
  padding: 3px 0;
}

.title{
  color: white;
  white-space: pre-line;
  margin: 0;
  padding: 0;

}
.content{
  color: white;
  white-space: pre-line;
  margin: 0;
  padding: 0;
}
.btn{

  align-self: center;
  margin-top: auto;
 a{
  background-color: blueviolet;
  color: white; 
  text-decoration: none;

  border-radius:8px;
  border: 2px solid transparent;
  padding: 5px;                                               
 }
 
}

.btn a:hover{
  background-color: transparent;
  border: 2px solid blueviolet;

}

// making responsive..............

@media screen and (max-width:750px){
.mov{
  flex-basis: 20%;
  min-width: 220px;
  margin: 7px 3px;
  padding: 8px;
}
}

@media screen and (max-width:550px){
  
 .Event_title{
  padding: 2px;
font-size: 8px;
}
  .mov{
    flex-basis:15%;
    min-width: 180px;
    
    margin: 4px 4px;
    padding: 8px;

    img{
      border-style: none;
     
      border-radius: 5px;
    }
  }

  }