
.image_container{
    display: flex;
    overflow-x: scroll;
    white-space:nowrap;
    background-color: black;
    gap: 10px;
    padding: 5px;
    scrollbar-width:thin;
    scroll-behavior:smooth;
    

    .div1img{
        color: white;
        box-sizing: border-box;
        border: 2px solid wheat;
        padding: 5px;
        flex-basis: 20%;
        min-width: 250px;
        text-align: center;
        // background-color: #fff;
      
        
        img{
            width:100%;
            aspect-ratio: 1;
            // aspect-ratio: 1;
            // object-fit: cover;
            
        }

        h3{
            font-size: 12px;
            word-wrap: break-word; 
          
            
        }
        p{
            font-size:10px;
            color: white;
           white-space: pre-line;
           
            
        }

}
.div1img:hover{
    background-color: #fff;
    color: black;
    p{
        color: black;
    }
}
}



@media screen and (max-width:550px){
    .image_container img{
        width: 220px;
        height: 230px;
        object-fit:cover;
        border-radius: 15px;
    }

}
