
.image_container{
    display: flex;
    overflow-x: scroll;
    white-space:nowrap;
    background-color: black;
    gap: 10px;
    padding: 5px;
    scrollbar-width:thin;
    scroll-behavior:smooth;
    

    .div1img{
        text-align: center;
        align-items: center;
        color: white;
        // width: 250px;
        box-sizing: border-box;
        border: 2px solid wheat;
        
        

        h3{
            text-align: center;
            border: 1px solid black;
            border-radius: 5px;
            width: 200px;
            padding: 3px;
            font-size: 12px;
            word-wrap: break-word;
            
            
        }
        p{
            font-size:10px;
            color: white;
            text-align: center;
           white-space: pre-line;
           
            
        }
        button{
            background-color: red;
            border-radius: 10px;
            width: 230px;
            padding: 3px;
            color: whitesmoke;

            

        }
        button:hover{
            background-color: blue;
        }
        
    }


}
.image_container::-webkit-scrollbar{
    height: 8px;
}
.image_container::-webkit-scrollbar-thumb{
    background-color: blanchedalmond;
    border-radius: 4px;
}
.image_container::-webkit-scrollbar-thumb:hover{
    background-color: rgb(37, 63, 104);
}

.image_container img{
    width: 250px;
    height: 250px;
    border-radius: 15px;
    object-fit: cover;
    
}
@media (max-width:500px){
    .image_container img{
        width: 250px;
        height: 350px;
        object-fit:cover;
    }
    .eventbox{
        font-size: 10px;
        font-family: cursive;
        font-weight: 600;
        font-style:italic;

    }

}
