body {
  margin: 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.92);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

#marq {
  color: white;
  padding: 3px;
}

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 1px;
}
.navbar .uldiv ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.navbar .uldiv ul li a {
  color: black;
  text-decoration-line: none;
}
.navbar .uldiv ul a:hover {
  color: blue;
  text-decoration: underline;
}

@media (max-width: 500px) {
  .uldiv li {
    display: none;
  }
}
.eventsection {
  background-color: white;
  margin-top: 8px;
  text-align: center;
  padding-top: 20px;
}
.eventsection .eventsdiv ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding-bottom: 20px;
}
.eventsection .eventsdiv ul li a {
  color: black;
  text-decoration: none;
}
.eventsection .eventsdiv ul a:hover {
  color: blue;
  background-color: bisque;
  border: 1px solid black;
  padding: 3px;
}
.eventsection .eve {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.mainevents {
  display: flex;
  justify-content: start;
  padding: 50px;
}
.mainevents .eventsimg {
  width: 170px;
  height: 170px;
  border: 1px solid;
}
.mainevents .zoomeveimg {
  background-size: cover;
  width: 800px;
  border: 1px solid;
  height: 400px;
}

.hero1 {
  background-image: url(confere.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
  background-clip: border-box;
  background-attachment: fixed;
  color: white;
  padding: 100px;
  text-align: center;
  align-items: center;
}
.hero1 h1 {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.556);
}

@media (max-width: 800px) {
  .hero1 {
    padding: 50px;
  }
  .hero1 h1 {
    font-size: 35px;
    color: rgba(255, 255, 255, 0.747);
  }
}
@media (max-width: 500px) {
  .hero1 {
    padding: 50px;
  }
  .hero1 h1 {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.747);
  }
  .hero1 p {
    font-size: 15px;
  }
}
.image_container {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  background-color: black;
  gap: 10px;
  padding: 5px;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
.image_container .div1img {
  text-align: center;
  align-items: center;
  color: white;
  box-sizing: border-box;
  border: 2px solid wheat;
}
.image_container .div1img h3 {
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  padding: 3px;
  font-size: 12px;
  word-wrap: break-word;
}
.image_container .div1img p {
  font-size: 10px;
  color: white;
  text-align: center;
  white-space: pre-line;
}
.image_container .div1img button {
  background-color: red;
  border-radius: 10px;
  width: 230px;
  padding: 3px;
  color: whitesmoke;
}
.image_container .div1img button:hover {
  background-color: blue;
}

.image_container::-webkit-scrollbar {
  height: 8px;
}

.image_container::-webkit-scrollbar-thumb {
  background-color: blanchedalmond;
  border-radius: 4px;
}

.image_container::-webkit-scrollbar-thumb:hover {
  background-color: rgb(37, 63, 104);
}

.image_container img {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 500px) {
  .image_container img {
    width: 250px;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .eventbox {
    font-size: 10px;
    font-family: cursive;
    font-weight: 600;
    font-style: italic;
  }
}
.updateevent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: auto;
  gap: 8px;
  padding: 8px;
}
.updateevent .events {
  background-color: rgba(0, 0, 0, 0.202);
  border: 1px solid;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px 4px 6px gold;
  padding: 8px;
  box-sizing: border-box;
}
.updateevent .events img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.updateevent .events h3 {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  font-size: 12px;
  background-color: white;
}
.updateevent .events p {
  font-size: 0.9rem;
  color: white;
}
.updateevent .events button {
  background-color: red;
  padding: 3px;
  color: whitesmoke;
}
.updateevent .events button:hover {
  background-color: blue;
}

@media (max-width: 500px) {
  .updateevent {
    grid-template-columns: 1fr;
  }
  .events {
    margin-bottom: 1rem;
  }
}
.eventbox {
  margin-top: 10px;
  background-color: white;
  text-align: center;
  align-items: center;
  color: black;
  padding-top: 4px;
  font-size: 15px;
  font-family: cursive;
  font-weight: 800;
  font-style: oblique;
}

.image_container2 {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  background-color: black;
  gap: 10px;
  padding: 5px;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  text-align: center;
}
.image_container2 .div1img2 {
  text-align: cente;
  color: white;
}
.image_container2 .div1img2 h4 {
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  padding: 3px;
  font-size: 10px;
  background-color: white;
  color: red;
  white-space: pre-line;
}
.image_container2 .div1img2 p {
  font-size: 10px;
  color: white;
  word-wrap: break-word;
}
.image_container2 .div1img2 button {
  background-color: red;
  border-radius: 10px;
  width: 230px;
  padding: 3px;
  color: whitesmoke;
}
.image_container2 .div1img2 button:hover {
  background-color: blue;
}

.image_container2::-webkit-scrollbar {
  height: 8px;
}

.image_container2::-webkit-scrollbar-thumb {
  background-color: blanchedalmond;
  border-radius: 4px;
}

.image_container2::-webkit-scrollbar-thumb:hover {
  background-color: rgb(37, 63, 104);
}

.image_container2 img {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 500px) {
  .image_container2 img {
    width: 250px;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .eventbox {
    font-size: 10px;
    font-family: cursive;
    font-weight: 600;
    font-style: italic;
  }
}
.allevents {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  gap: 20px;
  padding: 5px;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
.allevents .event2 {
  text-align: center;
  color: black;
}

.allevents::-webkit-scrollbar {
  height: 8px;
}

.allevents::-webkit-scrollbar-thumb {
  background-color: blanchedalmond;
  border-radius: 4px;
}

.allevents::-webkit-scrollbar-thumb:hover {
  background-color: rgb(37, 63, 104);
}

.event2 img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 500px) {
  .image_container img {
    width: 280px;
    height: 280px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.Event_title {
  font-size: 11px;
  font-family: serif;
  letter-spacing: 3px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.Movies {
  display: flex;
  background-color: white;
  gap: 20px;
  overflow-x: scroll;
  padding: 10px;
  white-space: nowrap;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  margin-top: 20px;
}
.Movies .mov {
  background-color: rgb(38, 35, 35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  border-radius: 20px;
  box-sizing: border-box;
}
.Movies .mov img {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.Movies .mov .release_date h4 {
  color: white;
  font-size: 10px;
  background-color: white;
  color: red;
  padding: 3px;
  border-radius: 10px;
  white-space: pre-line;
}
.Movies .mov .title h3 {
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: cursive;
  font-style: oblique;
  font-weight: bolder;
  white-space: pre-line;
}
.Movies .mov .content {
  color: white;
  font-size: 10px;
  font-style: italic;
  font-weight: bolder;
}
.Movies .mov #book_button {
  background-color: blueviolet;
  padding: 4px;
  border-style: none;
  width: 200px;
  border-radius: 15px;
}
.Movies .mov #book_button:hover {
  background-color: blue;
  border: 3px solid black;
  width: 200px;
  border-radius: 10px;
  color: white;
}

@media (max-width: 500px) {
  .Movies {
    gap: 10px;
    padding: 5px;
    margin-top: 10px;
    background-color: black;
  }
  .Movies .mov {
    background-color: white;
    color: black;
  }
  .Movies .mov img {
    width: 220px;
    height: 220px;
  }
  .Movies .mov .release_date h4 {
    color: white;
    font-size: 10px;
    background-color: black;
    padding: 3px;
    border-radius: 10px;
    white-space: pre-line;
  }
  .Movies .mov .title h3 {
    text-align: center;
    color: black;
    font-size: 15px;
    font-family: cursive;
    font-style: oblique;
    font-weight: bolder;
    white-space: pre-line;
  }
  .Movies .mov .content {
    color: black;
    font-size: 8px;
    font-style: italic;
    font-weight: bolder;
  }
  .Movies .mov #book_button {
    background-color: red;
    color: white;
    padding: 4px;
    border-style: none;
    width: 200px;
    border-radius: 15px;
  }
}
.live_title {
  color: black;
  background-color: white;
  text-align: center;
  padding: 5px;
  align-items: center;
  position: relative;
}

.Live_event {
  display: flex;
  gap: 10px;
  padding: 10px;
  overflow-x: scroll;
  background-color: black;
  margin-top: 15px;
}
.Live_event .live1 {
  width: 200px;
  height: 200px;
  border: 1px solid white;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  background-image: url(webinar.jpg);
}
.Live_event .live3 {
  width: 200px;
  height: 200px;
  border: 1px solid white;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  background-image: url(cmdshow.jpeg);
}
.Live_event .live2 {
  width: 200px;
  height: 200px;
  border: 1px solid white;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  background-image: url(kids.jpeg);
}
.Live_event .live4 {
  width: 200px;
  height: 200px;
  border: 1px solid white;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  background-image: url(musicgirl.jpg);
}
.Live_event .live5 {
  width: 200px;
  height: 200px;
  border: 1px solid white;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  background-image: url(art.jpg);
}
.Live_event .live6 {
  width: 200px;
  height: 200px;
  border: 1px solid white;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  background-color: gold;
}

.theme1 {
  background-color: white;
  color: white;
}/*# sourceMappingURL=EventGoScss.css.map */