*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.92);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
html{
    scroll-behavior: smooth;
}

// we create separate file of each section for easily manage them..and import
// them by using @import method....

// login page / signup page
@import "_loginpage.scss";
@import "_signup_page.scss";
@import "_Firstnavbar.scss";
@import "_firstEventSection.scss";
@import "_changeevents.scss";
@import "_hero1.scss";
@import "_scroll_img.scss";
@import "_update_events.scss";
@import "_eventpage.scss";
@import "_movie_section.scss";

@import "_footerbar.scss";
@import "_popup_page.scss";
@import "_loc_pop_bar.scss";

// 2 page linking (events)

@import "_2htmlpage-scrollbar.scss";
@import "_event_navbarscss.scss";

// 3page (movies)

@import "_movies_page_scss.scss";

// movie_detail
@import "_movie_detail_page_scss.scss";

// booking_ticket_online
@import "_online_book_ticket.scss";

// show tickets to user with all information........
@import "_showTicket.scss";

// testimonial section

@import "_testimonialscss.scss";

.theme1{
    background-color: white;
    color: white;
}

// ===============

